<link rel="stylesheet" href="/static/css/contactUs.css">

<div class="contact-container">
    <h1>איך להשיג אותנו?</h1>
    
    <div class="contact-section">
        <h2>משרד ראשי</h2>
        <p><strong>דוא”ל:</strong> <a href="mailto:arie@nati-g.com">arie@nati-g.com</a></p>
        <p><strong>טלפון:</strong> 04-6398050</p>
        <p><strong>פקס:</strong> 04-8578050</p>
        <p><strong>כתובת:</strong> המעפילים 10 זכרון יעקב</p>
        <p><strong>תא דואר:</strong> 1378</p>
        <p><strong>שעות פתיחה:</strong> ימי א-ה 08:00-17:00</p>
    </div>

    <div class="contact-section">
        <h2>נתיג תל אביב</h2>
        <p><strong>דוא”ל:</strong> <a href="mailto:nati@nati-g.com">nati@nati-g.com</a></p>
        <p><strong>טלפון:</strong> 054-8155568</p>
    </div>
    
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3362.235154328132!2d34.951308524504434!3d32.57325217374953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d0bd505718c07%3A0x94c744b9a21ddb6c!2z15TXntei16TXmdec15nXnSAxMCwg15bXm9eo15XXnyDXmdei16fXkQ!5e0!3m2!1siw!2sil!4v1728555727846!5m2!1siw!2sil"
     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
