<link rel="stylesheet" href="/static/css/home.css">

<div class="container">
    <h1>ברוכים הבאים לנתיג</h1>
    <div class="login-buttons">
        <button onclick="location.href='/workerLogin'">התחברות כעובד משרד</button>
        <button onclick="location.href='/clientLogin'">התחברות כלקוח</button>
    </div>
</div>
