

<header>
  <a href="/"> <img id="logo" src="/static/images/natig-logo.png" alt="Natig Logo"></a>
   
    <nav>
        <ul>
          <li><a href="/contactUs">צור קשר</a></li>
              <li><a href="/about">אודות</a></li>
            <li><a href="/">בית</a></li>
        </ul>
    </nav>
</header>