<!DOCTYPE html>
<html lang="he">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>נתיג</title>
  <link rel="icon" type="image/x-icon" href="/static/images/natig-logo.png">
  <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
</head>

<body>
  {{> header}}
  <section>
    {{{body}}}
  </section>

    <footer>
    <p>© 2024 צוות נתיג. כל הזכויות שמורות.</p>
  </footer>
</body>
</html>